// COLORS
$clrBg: #111;
$clrBgSecondary: #292929;
$clrPrimary: #FFD700;
$clrSecondary: #BFB7B6;
$clrTertiary: #F1F2EE;
$clrTxtPrimary: $clrPrimary;
$clrTxtSecondary: #FFF;

// BOOTSTRAP OVERRIDES
$primary: $clrPrimary;
$secondary: $clrSecondary;
$font-family-sans-serif: 'Arial Black', Gadget, sans-serif !default;