@font-face {
    font-family: 'runescape';
    font-style: normal;
    font-weight: normal;
    src:	url('https://images.wikia.nocookie.net/runescape/images/a/ab/Runescape_chat.eot') format('embedded-opentype'),
      local("RuneScape Chat"),
      url('https://images.wikia.nocookie.net/runescape/images/8/87/Runescape_chat.woff') format('woff');
}

@font-face {
    font-family: 'runescape-bold';
    font-style: normal;
    font-weight: bold;
    src:	url('https://images.wikia.nocookie.net/runescape/images/1/1e/Runescape_chat_bold.eot') format('embedded-opentype'),
      url('https://images.wikia.nocookie.net/runescape/images/e/e8/Runescape_chat_bold.woff') format('woff');
}

// COLORS
$clrBg: #111;
$clrBgSecondary: #292929;
// $clrPrimary: #6441A4;
$clrPrimary: #4cbb17;
// $clrSecondary: #BFB7B6;
$clrSecondary: #ff7900;
$clrTertiary: #F1F2EE;
$clrTxtPrimary: $clrPrimary;
$clrTxtSecondary: #FFF;

// BOOTSTRAP OVERRIDES
$primary: $clrPrimary;
$secondary: $clrSecondary;
$font-family-sans-serif: 'runescape-bold', 'Arial Black', Gadget, sans-serif !default;